html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  font-family: "Comic Sans MS", Arial, sans-serif;
}
.side-panel-heading {
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-align: center;
  background-color: #444;
  color: #FFF;
  padding: 15px;
  margin: 0;
}
#side-panel {
  background: #333;
  width: 280px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#map {
  height: 100%;
  left: 280px;
  position: absolute;
  right: 0;
  top: 0;
}
.filter{
  padding: 10px;
}
#filter-text {
  width: 95%;
  text-align: center;
}
.spot-list li {
  color: #EEE;
  font-size: 120%;
  padding: 8px;
  list-style-type: none;
}
.spot-list a {
   text-decoration: none;
}
.hamburger-menu {
  display: none;
  float: right;
  margin: 15px 3px;
}
.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5px 10px;
}
#toggle-menu {
  display: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked~#side-panel{
  display: block;
}

@media screen and (max-width: 700px) {
  #map {
    left: 0px;
    z-index: -1;
  }
  .side-panel-heading,
  .filter,
  .spot-list {
    width: 89%;
  }
  #side-panel {
    display: none;
    z-index: 1;
  }
  .hamburger-menu {
    background-color: #AAA;
    opacity: 0.5;
    margin: 10px;
    display: block;
    z-index: 2;
  }
}
